.main{
    flex: 4;
} 
.button{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    align-items: center;
    margin-top: 100px;
}